@model IEnumerable<VotingSys.ViewModels.VotingVM>


@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>
@using (Html.BeginForm("Submit", "Voting3", FormMethod.Post))
{

    <div >

        @foreach (var question in Model)
        {


            <h4>@Html.DisplayFor(model => question.QuestionText) </h4>





            foreach (var answers in question.VotingOptions)
            {

                <label>
                    <input type="hidden" value="@answers.Id" />
                    <input type="radio" name="@answers.IsSelected" id="option-@answers.Id" value="" required />
                    @answers.OptionText
                </label><br />


            }
        }
    </div>
    <br />
    <button type="submit" id="submitButton" class="btn btn-primary">Submit</button>
}


<script>
    function ooo(id) {
        var option = document.getElementById("option-" + id).checked
        if (option.checked) {

            option.value = "true";
    }
    
        

</script>
